# =============================================================================
#            PLINK MAKEFILE FOR [+pkg+]_[+comp+] TEST DRIVER
# =============================================================================

# -----------------------------------------------------------------------------
# Header
# -----------------------------------------------------------------------------
UNAME= $(shell uname)
MKINCL?=/bbsrc/mkincludes/
include $(MKINCL)machdep.newlink

# -----------------------------------------------------------------------------
# Variables
# -----------------------------------------------------------------------------

# Paths

# Include paths
INCLUDES  =
INCLUDES += -I.

# -----------------------------------------------------------------------------
# Object files
# -----------------------------------------------------------------------------

OBJS  =
OBJS += [-pkg-]_[-comp-].o
OBJS += [-pkg-]_[-comp-].t.o

# -----------------------------------------------------------------------------
# Libraries
# -----------------------------------------------------------------------------
LIBS  =

# -----------------------------------------------------------------------------
# Plink flags
# -----------------------------------------------------------------------------

# Compiler flags
USER_CPPFLAGS  =
USER_CPPFLAGS += $(INCLUDES)

# Plink flags
IS_BDE=yes
IS_PTHREAD=yes
IS_EXCEPTION=yes
INLINING=yes
IS_DEPENDS_NATIVE=yes

# 64-bit for Linux
ifeq ($(UNAME), Linux)
IS_64BIT=yes
endif

# Output task
TASK = [-pkg-]_[-comp-].t.tsk

# -----------------------------------------------------------------------------
# Footer
# -----------------------------------------------------------------------------
include $(MKINCL)linktask.newlink
