# =============================================================================
#            PLINK MAKEFILE FOR [+pkg+]_[+comp+] TEST DRIVER
# =============================================================================

# -----------------------------------------------------------------------------
# Header
# -----------------------------------------------------------------------------
UNAME= $(shell uname)
MKINCL?=/bbsrc/mkincludes/
include $(MKINCL)machdep.newlink

DMP_LOC=..
include ../dmp_plink_options.mk

# -----------------------------------------------------------------------------
# Variables
# -----------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# Object files
# -----------------------------------------------------------------------------

OBJS  =
OBJS += [-pkg-]_[-comp-].o
OBJS += [-pkg-]_[-comp-].t.o

# -----------------------------------------------------------------------------
# Libraries
# -----------------------------------------------------------------------------
LIBS  =

# Output task
TASK = [-pkg-]_[-comp-].t.tsk

# -----------------------------------------------------------------------------
# Footer
# -----------------------------------------------------------------------------
include $(MKINCL)linktask.newlink



