// ============================================================================
[*leftCenterRight("//", "INLINE AND TEMPLATE FUNCTION IMPLEMENTATIONS", "")*]
// ============================================================================
