      case [=1=]: {
        // --------------------------------------------------------------------
        // [$2$]
        //
        // Concerns:
        //  a)
        //
        // Plan:
        //  1)
        //
        // Testing:
        // --------------------------------------------------------------------

        if (verbose) cout << endl
                          << "[$2$]" << endl
                          << "[*rep = [*len [$2$]*]*]" << endl;


      } break;
